#backgroundPrimary {
  background-color: hsl(229, 57%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#divFylo {
  background-color: hsl(228, 56%, 26%);
  align-self: flex-end;
}

.UtilityIcons {
  background-color: hsl(229, 57%, 11%);
}

#divStorage {
  background-color: hsl(228, 56%, 26%);
  align-self: flex-end;
}

#messageUsedStorage {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: hsl(243, 100%, 93%);
}

#divRemaining {
  font-family: "Raleway", sans-serif;
  background-color: hsl(0, 0%, 100%);
  font-weight: 700;
  color: hsl(229, 7%, 55%);
}

#messageUsedStorage:hover ~ #divRemaining {
  opacity: 1;
}

#remainingAmount {
  color: black;
  font-weight: 700;
}

#usedAmount {
  color: hsl(243, 100%, 93%);
  font-weight: 700;
  font-size: 1vw;
}

#storageBar {
  background-color: hsl(229, 57%, 11%);
}

#storageEnds {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: hsl(243, 100%, 93%);
  display: flex;
  justify-content: space-between;
}

#storageDisplay {
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

#storagePoint {
  background-color: hsl(243, 100%, 93%);
}

/* Desktop responsive query */
@media screen and (min-width: 769px) {
  #backgroundPrimary {
    background-image: url("images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vw 50vh;
  }

  #divContainter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #divFylo {
    border-radius: 0.5vw 5vw 0.5vw 0.5vw;
    padding: 1.5vw 7.5vw 1vw 2vw;
    margin-right: 2vw;
  }

  #iconLogo {
    margin-bottom: 1.5vw;
  }

  #divUtilities {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .UtilityIcons {
    margin-right: 1vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
  }

  #divStorage {
    position: relative;
    border-radius: 0.5vw;
    padding: 1.5vw 3vw 1.5vw 3vw;
  }

  #storageBar {
    padding: 0.2vw;
    border-radius: 5vw;
    display: flex;
    align-items: center;
  }

  #storagePoint {
    margin-right: 9.5vw;
    border-radius: 5vw;
    position: relative;
    padding: 0.4vw;
    left: -0.5vw;
  }

  #storageDisplay {
    width: 86%;
    padding: 0.4vw 10vw;
    border-radius: 5vw;
  }

  #storageEnds {
    margin-top: -0.5vw;
  }

  #divRemaining {
    position: absolute;
    top: -31%;
    left: 65%;
    display: flex;
    width: min-content;
    white-space: nowrap;
    padding: 1vw 1.5vw 1vw 1.5vw;
    border-radius: 0.5vw 0.5vw 0vw 0.5vw;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  #balloonTriangle {
    border-left: 0.65vw solid transparent;
    border-right: 0.65vw solid hsl(0, 0%, 100%);
    border-top: 0.65vw solid hsl(0, 0%, 100%);
    border-bottom: 0.65vw solid transparent;
    position: absolute;
    top: 98.5%;
    left: 88.25%;
  }

  #remainingAmount {
    margin-right: 0.5vw;
    font-size: 2vw;
  }

  #divInfo {
    display: flex;
    margin-bottom: -0.5vw;
  }

  #messageUsedStorage {
    font-size: 1.25vw;
  }

  #usedAmount {
    font-size: 1.25vw;
  }
}

/* Mobile responsive query */
@media screen and (max-width: 768px) {
  #backgroundPrimary {
    background-image: url("images/bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vw;
  }

  #divFylo {
    border-radius: 1.75vw 15vw 1.75vw 1.75vw;
    padding: 7vw 10vw 1.5vw 6vw;
    margin-bottom: 3vw;
  }

  #iconLogo {
    margin-bottom: 4.5vw;
  }

  .UtilityIcons {
    margin-right: 2.5vw;
    margin-bottom: 3vw;
    border-radius: 2.5vw;
    padding: 2.5vw;
  }

  #divStorage {
    position: relative;
    border-radius: 1.75vw;
    padding: 2.25vw 5vw 7.5vw 5vw;
  }

  #storageBar {
    padding: 0.5vw;
    border-radius: 5vw;
    display: flex;
    align-items: center;
  }

  #storagePoint {
    margin-right: 9.5vw;
    border-radius: 5vw;
    position: relative;
    padding: 1.25vw;
    left: -1.75vw;
  }

  #storageDisplay {
    width: 86%;
    padding: 1.25vw 23vw;
    border-radius: 5vw;
  }

  #storageEnds {
    margin-top: -1vw;
  }

  #divRemaining {
    position: absolute;
    top: 80%;
    left: 20%;
    display: flex;
    width: min-content;
    white-space: nowrap;
    padding: 3vw 6vw 3vw 6vw;
    border-radius: 2vw;
    justify-content: center;
    align-items: center;
  }

  #remainingAmount {
    margin-right: 1.5vw;
    font-size: 7.5vw;
  }

  #divInfo {
    display: flex;
    margin-bottom: 0.5vw;
    justify-content: center;
  }

  #messageUsedStorage {
    font-size: 3vw;
  }

  #usedAmount {
    font-size: 3vw;
  }
}
